@model ProductManagement_Lab_PRN292.Models.UserWithRoleSelectViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Remove User Role</h1>

<h3>Choose Role to remove from this User</h3>
@*<div>
        <h4>UserWithRoleViewModel</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" disabled />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                Role <select name="roleName" asp-items="Model.Roles" class="form-select" aria-label="Default select example">
                    <option value="role" selected>Choose Role ...</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Remove" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>